:root {
    font-family: 'Noto Serif TC', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: #F2EFE7;
  }  

  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
